Checks: 'bugprone*,cert*,clang-analyzer*,concurrency*,cppcoreguidelines*,misc*,modernize*,performance*,portability*,readability*,-bugprone-macro-parentheses,-cppcoreguidelines-pro-type-vararg,-cppcoreguidelines-pro-bounds-pointer-arithmetic,-cppcoreguidelines-pro-bounds-array-to-pointer-decay,-modernize-use-trailing-return-type,-modernize-avoid-c-arrays,-readability-braces-around-statements'
HeaderFilterRegex: '(sc|short-circuit)/src'
CheckOptions:
  - key: bugprone-easily-swappable-parameters.MinimumLength
    value: 3
